.band-grey{
    background-color: var(--switch-background-color);
}

.container-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;   
}

.container-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 290px;
    width: 100%;
    margin-right: 30px;
}

.container-card:last-child{
    margin-right: 0;
}

.container-card h3{
    padding-top: 15px;
    font-size: 20px;
    font-family:  'RobotoBold';
    line-height: 24px;
    color: var(--secondary-color)
}

.container-card p{
    padding-top: 15px;
}


@media screen and (max-width: 640px) {
    .container-cards{
        flex-direction: column;  
        align-items: center;
    }
    .container-card:first-child{
        margin-top: 0;
    }
    .container-card{
        margin-top: 50px;
        margin-right: 0;
    }
    
}

@media screen and (max-width: 320px) {
    .container-cards{
        padding-top: 50px;
        padding-bottom: 50px;   
    }
}