@font-face { 
    font-family: 'RobotoRegular'; 
    src: url('../assets/fonts/Roboto-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
@font-face { 
    font-family: 'RobotoBold'; 
    src: url('../assets/fonts/Roboto-Black.ttf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  
@font-face { 
    font-family: 'RobotoMedium'; 
    src: url('../assets/fonts/Roboto-Medium.ttf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face { 
    font-family: 'Roboto700'; 
    src: url('../assets/fonts/Roboto-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  
  .light-theme {
    /* --offset: 20px;
    --dimensionsCircle: 25px; */
    --primary-color: #333333;
    --additional-color: #4F4F4F;
    --secondary-color: #3C3C3C;
    --primary-background-color: #FFFFFF;
    --switch-background-color: #F2F2F2;
    --switch-background-circle: #ffffff;
    --total-color: #BDBDBD;
    --color-arrow: #828282;
    --color-arrow-hover: #333333;
    --color-content-pay: #4F4F4F;
    --testimonials-background-color: #FEFEFE;
    --main-background-map:#333333;
    --small-background-map:#DADADA;

  }

  .dark-theme {
    /* --offset: 20px;
    --dimensionsCircle: 25px; */
    --primary-color: #FEFEFE;
    --additional-color: #F2F2F2;
    --secondary-color: #FEFEFE;
    --primary-background-color: #333333;
    --switch-background-color: #4F4F4F;
    --switch-background-circle: #1B1B1B;
    --total-color:#BDBDBD;
    --color-arrow: #828282;
    --color-arrow-hover: #FEFEFE;
    --color-content-pay: #FEFEFE;
    --testimonials-background-color: #3C3C3C;
    --main-background-map:#E1E1E1;
    --small-background-map:#333333;
  }

* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
    font-family: 'RobotoRegular';
    color: var(--primary-color);
    overflow-x: hidden;
    line-height: 17px;
  }

  a{
    color: inherit;
  }

.wrapper{
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}


.offset-left-s {
  margin-left: 10px;
}

.offset-left-m {
  margin-left: 15px;
}

.offset-right-s {
  margin-right: 10px;
}

.offset-right-m {
  margin-right: 15px;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 245px;
  width: 100%;
  height: 55px;
  padding: 10px 5px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  font-family: 'RobotoBold';
  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.btn:hover {
    cursor: pointer;
}